# database
DATABASE_URL=""

# better auth
BETTER_AUTH_SECRET=""
BETTER_AUTH_URL=""

# AI models API keys
OPENAI_API_KEY=""
ANTHROPIC_API_KEY=""
GOOGLE_GENERATIVE_AI_API_KEY=""

# Sentry
SENTRY_AUTH_TOKEN=""
SENTRY_DSN=""
NEXT_PUBLIC_SENTRY_DSN=""
